# ignore all dot files in home
/home/.*

# ignore most files from cygwin
/toolchain/cygwin64/*
!toolchain/cygwin64/install-cygwin-px4.bat
!toolchain/cygwin64/install-cygwin-setup-download.url
!toolchain/cygwin64/install-cygwin-python-packages.bat

# ignore most files from gcc-arm
/toolchain/gcc-arm/*
!toolchain/gcc-arm/install-gcc-arm.bat
